.container { margin-top: 3rem; }
button { cursor: pointer; }
legend { font-size: 16px !important; }

.calculator {
  height: 600px;
  width: 1000px;
}

.lab-data-fullscreen {
  height: 100vh !important;
  width: 100vw;
}

.lab-data-remove-margin {
  margin: 0 !important;
}

.emphasis {
  font-weight: bold;
}

.case-time { font-weight: 700; }
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-spin {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal-spin element will be visible */
body.loading .modal-spin {
    display: block;
}

.materials h2 {
  font-size: 20px;
}

.materials h3 {
  font-size: 18px;
}

#resultsModal {
  overflow-y: scroll !important;
}

#labs, #medications, #vitals, #inputOutput, #ordersModal {
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0 15px 15px 0;
}

.medications-body {
  overflow-y: scroll;
}

/*#labs { margin-left: 180px; }
#vitals { margin-left: 150px; }
#medications { margin-left: 180px; }
#inputOutput { margin-left: 160px; }*/

#vitals, #labs, #medications, #inputOutput table {
  width: auto;
}

#vitalsModal .modal-dialog .modal-content,
#labsModal .modal-dialog .modal-content,
#medicationsModal .modal-dialog .modal-content,
#inputOutputModal .modal-dialog .modal-content {
  height: 80vh;
}

/*#inputOutputModal .modal-dialog .modal-content {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 80vh;
}*/

.modal-body {
/*  height: 80vh;
  margin: 0 auto;
  width: 60vh;*/
}

.blankTh {
  position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 2;
}

#ordersModal .modal-dialog .modal-content {
  /*width: 80vw;*/
}

#medications .table {
  overflow-y: scroll;
  overflow-x: scroll;
}

#vitals table, 
#labs table, 
#inputOutput table {
  overflow-y: scroll;
  overflow-x: scroll;
}

#vitals table thead, 
#labs table thead, 
#medications table thead tr,
#inputOutput table thead {
  position: sticky;
  top: 0;  
  background-color: #FFF;
}

table thead th {
  border-bottom: none !important;
/*  background-color: #FFF;
  position: sticky;
  top: 0;  */
}

/*table tr th {
  background-color: #FFF;
  position: sticky;
  left: 0;    
}*/

#vitals table thead th, 
#labs table thead th, 
#medications table thead tr th, 
#inputOutput table thead th {
  background-color: #FFF;
  min-width: 160px;
  position: sticky;
  top: 0;  
}

#vitals table tr th, 
#labs table tr th, 
#medications table tr th, 
#inputOutput table tr th  {
  background-color: #FFF;
  position: sticky;
  left: 0;    
}

table td, th {
  border-top: none !important;
}

td, th {
  padding: 5px 20px;
  width: 100px;

}

.updatedInfoHighlight {
  background-color: #0bbae9f5 !important;
  border-color: #0bbae9f5 !important;
  color: #fff !important;
}

.updatedInfoHighlight:hover {
  background-color: #0b7ce9f5 !important;
}

.new-case-form-header {
  margin: 1rem 0 1rem 2rem;
}

.new-case-form-main {
  margin: 0 0 0 3rem;  
}

.new-case-form-submit-btn {
  display: block;
  margin: 1rem 0 1rem;
}

.new-case-form-exit {
  margin: 0 0 1rem 2rem;  
}

/*th:first-child {
  position: fixed;
  left: 5px
}*/
